/* styles.css */
.Toastify__toast {
    background-color: black;
    color: yellow;
    font-size: 16px;
    /* Add more styles as needed */
  }


.Toastify .Toastify__spinner {
    border-top-color: yellow !important;
    border-left-color: yellow !important;
}

.Toastify__progress-bar {
    background-color: yellow;
}

